In [1]:
#importing our dependencies
import pandas as pd

In [2]:
#loading in our csv file with the data
df = pd.read_csv('Resources/heart_disease.csv')
df.head()

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No

In [3]:
#checking the name of the columns
df.columns

Index(['Gender', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'Heart_ stroke'],
      dtype='object')

In [4]:
# Rename the columns using a mapping dictionary
new_column_names = {
    'Gender': 'gender',
    'age': 'age',
    'education': 'education',
    'currentSmoker': 'current_smoker',
    'cigsPerDay': 'cigarettes_per_day',
    'BPMeds': 'bp_meds',
    'prevalentStroke': 'prevalent_stroke',
    'prevalentHyp': 'prevalent_hypertension',
    'diabetes': 'diabetes',
    'totChol': 'total_cholesterol',
    'sysBP': 'systolic_blood_pressure',
    'diaBP': 'diastolic_blood_pressure',
    'BMI': 'bmi',
    'heartRate': 'heart_rate',
    'glucose': 'glucose',
    'Heart_ stroke': 'heart_stroke'
}

df.rename(columns=new_column_names, inplace=True)

df.head()

,gender,age,education,current_smoker,cigarettes_per_day,bp_meds,prevalent_stroke,prevalent_hypertension,diabetes,total_cholesterol,systolic_blood_pressure,diastolic_blood_pressure,bmi,heart_rate,glucose,heart_stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No

In [5]:
#checking the size of the dataframe
df.shape

(4238, 16)

In [6]:
#dropping any N/A values in the dataframe
df = df.dropna()

#seeing the amount of rows in the data frame after we drop the N/A's
df.shape

(3656, 16)

In [7]:
# Save the cleaned DataFrame to a new CSV file
output_file_path = 'Resources/cleaned_data.csv'
df.to_csv(output_file_path, index=False)

print("DataFrame has been saved to:", output_file_path)

DataFrame has been saved to: Resources/cleaned_data.csv